
<div class="container cont-lgn w-100 rounded shadow-lg">
    <div class="row">
        <div class="col bg">
           
        </div>
        <div class="col">
            <div class="text-center pt-3">
                <h4> SIGN IN</h4>
                <img src="../../../assets/images/user-login.png" width="100" alt="">
            </div>
            <br>
            <form action="#">
            <!-- <div class="mb-3 col-md-6 col-lg-4 col-sm-8 mx-auto">-->
                <div class="mb-3">
                    <input  type="email" 
                            class="form-control text-center" 
                            id="email-login" 
                            placeholder="Cuenta de Usuario">
                </div>

                <div class="mb-3">
                    <input type="email" 
                            class="form-control text-center" 
                            id="email-login" 
                            placeholder="Contraseña">
                </div>

                <!--button submit-->
                <div class="pb-3 d-grid gap-2">
                    <button class="btn btn-primary" type="button" > 
                        <a [routerLink]="['../home']" class="text-white"> Ingresar</a> 
                    </button>
                </div>
            </form>
        </div> 
    </div>  
</div>
