/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(245, 245, 245);
}


table .tbl-one{
    background-color: rgb(135, 206, 250);
    border-color: black;
}